Documentation Component
<p class="body-1">Documentation</p>
{{currentDocstatus}}
<!-- <p *ngIf="currentDocStatus === docStatus.FOLDER_NOT_SELECTED" class="caption" id="docFolderNotSelected">Select a folder to copy the documentation.</p>
<mat-spinner *ngIf="currentDocStatus === docStatus.FOLDER_SELECTED" class="ra-int-spinner" diameter="14" strokeWidth="2"></mat-spinner>
<p *ngIf="currentDocStatus === docStatus.DOCS_SUCCESS" class="caption label__element-found" id="docFolderValid">
  <span class="icon__element-found ra-icon-ide-md-color-check"></span>
  Documentation imported
</p>
<p *ngIf="currentDocStatus === docStatus.DOCS_ERROR" class="caption label__element-found" id="docFolderInvalid">
  <span class="icon__element-found ra-icon-ide-md-color-error"></span>
  <span class="text__dialog-error">Invalid document folder</span>
</p>
<p *ngIf="currentDocStatus === docStatus.FOLDER_EMPTY" class="caption label__element-found" id="docFolderInvalidEmpty">
  <span class="icon__element-found ra-icon-ide-md-color-error"></span>
  <span class="text__dialog-error">There are no documents in this folder</span>
</p>
<div>
  <ra-ui-file-input
          id="icDocInput"
          [buttonLabel]="docButtonLabel"
          [config]="docFileConfig"
          [value]="docValue"
          (valueChange)="docChanged($event)"
  ></ra-ui-file-input>
</div>  -->
